.question-page-container {
    display: grid;
    grid-template-columns: minmax(30px, 5vw) 1fr;
    grid-template-rows: minmax(100px, 10vh) 10vh 1fr minmax(50px,10vh);
    background: url("./../../img/map-background-2.png") no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    padding: 2vh 1vw;
}

.side-navbar-through-pages {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: none;
}

.side-navbar-through-pages img {
    margin-top: -0.1vh;
}

.navbar-labels {
    margin: 1vh 0;
    font-size: 100%;
    text-align: center;
    font-weight: 1000;
}

.question-page-header {
    background: url("./../../img/page-title-cropped.png") no-repeat center;
    background-size: contain;
}

.question-title,
.question-text {
    text-align: center;
}

.question-title {
    margin: 2vh 0 1vh;
    font-size: 5vh;
    font-weight: bold;
    /*font-family: "Times New Roman", serif;*/
    text-transform: uppercase;
}

.question-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 1.5vh 5vw;
}

.question-text {
    padding: 2vh 0;
    font-size: 4vh;
    font-weight: normal;
    min-height: 35vh;
    /*font-family: "Times New Roman", serif;*/
}

.answers-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.answer-btn {
    margin-left: 2vw;
    border: 3px solid #C99750;
    border-radius: 3vw;
    font-size: 3.7vh;
    height: 90%;
    width: 90%;
    padding: 1.5vh 1vw;
}

.selected-answer-btn,
.selected-answer-btn:hover,
.selected-answer-btn:active {
    background-color: rgba(135, 81, 0, 0.7);
    color: aliceblue;
}

.answer-btn:hover,
.selected-answer-btn:hover,
.unselected-answer-btn:hover {
    font-size: 3.7vh;
    font-weight: bold;
}

.unselected-answer-btn {
    background-color: rgba(244, 233, 212, 0.5);
}

.unselected-answer-btn:hover {
    background-color: #D9A658;
}

@media only screen and (max-width: 550px) {
    .side-navbar-through-pages {
        padding: 5vh 0;
    }
    .navbar-labels {
        display: none;
    }
}

@media only screen and (orientation: portrait) {
    .answer-btn,
    .answer-btn:hover,
    .answer-btn:active {
        font-size: 2vh;
    }
}
