.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh 2vw;
}

.welcome-page-header {
    height: 15vh;
    width: auto;
}

.welcome-page-map {
    height: 60vh;
}

.start-btn {
    height: 10vh;
    width: 40vw;
    padding: 0.5vh 2vw;
    background-color: seagreen;
    border: 5px solid mediumseagreen;
    border-radius: 30px;
    color: wheat;
    font-size: 6vh;
}

.start-btn:hover {
    background-color: forestgreen;
    font-size: 6.5vh;
    font-weight: bold;
}

.start-btn:active {
    background-color: aquamarine;
    border: 5px solid seagreen;
    color: seagreen;
}

@media only screen and (orientation: portrait) {
    .welcome-page-header {
        width: 100%;
        height: auto;
        max-height: 15vh;
    }

    .welcome-page-map {
        width: 95%;
        height: auto;
        max-height: 60vh;
    }
}