.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh 2vw;
}

.welcome-page-header {
    height: 15vh;
    width: auto;
}

.welcome-page-map {
    height: 60vh;
}

@media only screen and (orientation: portrait) {
    .welcome-page-header {
        width: 100%;
        height: auto;
        max-height: 15vh;
    }

    .welcome-page-map {
        width: 100%;
        height: auto;
        max-height: 60vh;
    }
}